.panel {padding-top: 30px;
		padding-bottom: 30px;
}

#userInfo {
	color:cyan;
}

#deleteButton {
	color: black;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

#registerForm .form-group {padding-bottom: 50px;}

